# Virtual environment
.venv/
env/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django database
db.sqlite3

# Media files
media/

# Environment variables
.env

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
